.parent {
    /* 가로 길이 */
    width: 200px;

    /* 세로 길이 */
    height: 200px   ;

    /* 폰트 크기 */
    font-size: 20px;

    /* 폰트 굵기 */
    font-weight: 900;

    /* 폰트 기울기 */
    font-style: italic;
    
    /* 텍스트 정렬 */
    text-align: center;

    /* 
        텍스트 장식(밑줄, 취소선, 윗줄)
            - none : 일반 텍스트
            - underline : 밑줄
            - line-through : 취소선
            - overline : 윗줄
            - underline overline : 밑줄 + 윗줄
    */
    text-decoration: underline;


    /* 
    테두리 설정
        - 2px : 테두리 굵기
        - solid : 실선
        - blue : 색상
     */

    border: 2px solid blue;

    /* 배경색 */
    background-color: aquamarine;
}

.child{
    /* 
        백분율(%) : 부모 요소의 크기와 비교
                - 부모가 200px -> 50%는 100px
        em : 현재 폰트의 크기와 비교
            - 현재 폰트가 12px -> 2em은 *2를 한 24px
        rem : 루트 요소(html)의 폰트 크기와 비교
            - 기본 폰트 크기는 16px
                16px -> 2rem은 *2를 한 32px
        vw : 웹 페이지가 실제로 렌더링되는 크기를 의미 (Viewport Width)
            80vw -> 가로길이 80% 만큼의 길이를 가지겠다.
        vh : 웹 페이지가 실제로 렌더링되는 크기를 의미 (ViewPort Height)
            80vh -> 세로 길이 80% 만큼의 길이를 가지겠다.
        

            
    */
    width: 80vw;
    height: 50vh;
    font-size: 12px;
    background-color: darkgray;
    border: 2px solid black;
}

a{
    text-decoration: none;
    color:black;
}